.example {
width: 12.5rem;
height: 6.2rem;
min-width: 3.1rem;
max-width: 18.8rem;
	min-height: 3rem;
	max-height: 15rem;
	margin: 1rem;
	margin-top: 2rem;
	margin-right: 3rem;
	margin-bottom: 4rem;
	margin-left: 5rem;
	padding: 0.5rem;
	padding-top: 1.5rem;
	padding-right: 2.5rem;
	padding-bottom: 3.5rem;
	padding-left: 4.5rem;
	font-size: 1.6rem;
	line-height: 2rem;
	border: 1px solid black;
	border-width: 0.2rem;
	border-top-width: 0.3rem;
	border-right-width: 0.4rem;
	border-bottom-width: 0.5rem;
	border-left-width: 0.6rem;
	border-radius: 1rem;
	outline: 0.2rem solid blue;
	outline-offset: 0.5rem;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
	text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
	inset: 1rem;
	inset-block: 1.5rem;
	inset-block-start: 2rem;
	inset-block-end: 2.5rem;
	inset-inline: 3rem;
	inset-inline-start: 3.5rem;
	inset-inline-end: 4rem;
top: 0.6rem;
right: 1.2rem;
bottom: 1.9rem;
left: 2.5rem;
grid-gap: 0.6rem;
	grid-row-gap: 2rem;
grid-column-gap: 1.9rem;
gap: 0.6rem;
	row-gap: 2rem;
column-gap: 1.9rem;
	column-rule-width: 0.5rem;
	flex-basis: 20rem;
	flex-grow: 1;
	flex-shrink: 1;
	transform: translate(3.125rem, 3.125rem);
translate: translate(3.1rem, 3.1rem);
scroll-margin: 3.1rem;
scroll-margin-block: 3.8rem;
scroll-margin-block-start: 4.4rem;
scroll-margin-block-end: 5.0rem;
scroll-margin-inline: 5.6rem;
scroll-margin-inline-start: 6.2rem;
scroll-margin-inline-end: 6.9rem;
offset: 0.6rem;
offset-block: 1.2rem;
offset-block-start: 1.9rem;
offset-block-end: 2.5rem;
offset-inline: 3.1rem;
offset-inline-start: 3.8rem;
offset-inline-end: 4.4rem;
}

