@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DingTalk";
    src: url("../assets/font/DingTalk JinBuTi.ttf");
}

:root {
font-size: 3.2rem;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: DingTalk;
    -webkit-user-select: none;
}

.main {
    height: 100vh;
    weight: 100vw;
    box-sizing: border-box;
    padding: .5rem .5rem 3.5rem .5rem;
    position: relative;
}
.mainContent {
height: 123.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dragDiv {
    width: 100vw;
height: 3.6rem;
    position: absolute;
top: -1.6rem;
left: -1.6rem;
}

.navDiv {
border: 0.2rem solid rgba(255, 255, 255, 0.09);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
bottom: 0.0rem;
left: 0.0rem;
    width: 100vw;
height: 9.6rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.avatarEffect {
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
}

@keyframes light {
    0% {
box-shadow: 0 0 0.8rem #ff6666;
    }

    25% {
box-shadow: 0 0 3.2rem #18a058;
    }

    50% {
box-shadow: 0 0 0.8rem #2080f0;
    }

    75% {
box-shadow: 0 0 3.2rem #f0a020;
    }

    100% {
box-shadow: 0 0 0.8rem #d03050;
    }
}

.imgItem {
width: 5.0rem;
height: 5.0rem;
border-radius: 0.6rem;
    display: block;
}

.runeDivDash {
border-radius: 1.6rem;
border: 0.2rem dashed #dfdfdf;
}
.matchAnalysisDash {
margin-top: 0.4rem;
padding: 0.8rem;
border-radius: 19.8rem;
border: 0.2rem dashed #dfdfdf;
}

.text-ss {
font-size: 2.6rem;
line-height: 3.4rem;
}








