.example {
	width: 200px;
	height: 100px;
	min-width: 50px;
	max-width: 300px;
	min-height: 3rem;
	max-height: 15rem;
	margin: 1rem;
	margin-top: 2rem;
	margin-right: 3rem;
	margin-bottom: 4rem;
	margin-left: 5rem;
	padding: 0.5rem;
	padding-top: 1.5rem;
	padding-right: 2.5rem;
	padding-bottom: 3.5rem;
	padding-left: 4.5rem;
	font-size: 1.6rem;
	line-height: 2rem;
	border: 1px solid black;
	border-width: 0.2rem;
	border-top-width: 0.3rem;
	border-right-width: 0.4rem;
	border-bottom-width: 0.5rem;
	border-left-width: 0.6rem;
	border-radius: 1rem;
	outline: 0.2rem solid blue;
	outline-offset: 0.5rem;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
	text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
	inset: 1rem;
	inset-block: 1.5rem;
	inset-block-start: 2rem;
	inset-block-end: 2.5rem;
	inset-inline: 3rem;
	inset-inline-start: 3.5rem;
	inset-inline-end: 4rem;
	top: 10px;
	right: 20px;
	bottom: 30px;
	left: 40px;
	grid-gap: 10px;
	grid-row-gap: 2rem;
	grid-column-gap: 30px;
	gap: 10px;
	row-gap: 2rem;
	column-gap: 30px;
	column-rule-width: 0.5rem;
	flex-basis: 20rem;
	flex-grow: 1;
	flex-shrink: 1;
	transform: translate(3.125rem, 3.125rem);
	translate: translate(50px, 50px);
	scroll-margin: 50px;
	scroll-margin-block: 60px;
	scroll-margin-block-start: 70px;
	scroll-margin-block-end: 80px;
	scroll-margin-inline: 90px;
	scroll-margin-inline-start: 100px;
	scroll-margin-inline-end: 110px;
	offset: 10px;
	offset-block: 20px;
	offset-block-start: 30px;
	offset-block-end: 40px;
	offset-inline: 50px;
	offset-inline-start: 60px;
	offset-inline-end: 70px;
}
